# Practicals for lecture 0.1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/vigji/python-cimec-2024/blob/main/practicals/Practicals_0.1.ipynb)

## Data containers

#### 0.1.0 Lists

In [2]:
# Use the .split() method to create a list of words from this string and assign it to a variable:
a_string = "The brain is a world consisting of a number of unexplored continents and great stretches of unknown territory."

word_list = a_string.split()
word_list

['The',
 'brain',
 'is',
 'a',
 'world',
 'consisting',
 'of',
 'a',
 'number',
 'of',
 'unexplored',
 'continents',
 'and',
 'great',
 'stretches',
 'of',
 'unknown',
 'territory.']

In [3]:
# Using indexing, make a new list named `selected_elements` taking one every two 
# of the first 10 elements from the `a_string` list:
selected_elements = word_list[:10:2]
selected_elements

['The', 'is', 'world', 'of', 'number']

In [4]:
# Then, replace the first element of `selected_elements` with a new string of your choice:
selected_elements[0] = "The new value"
selected_elements

['The new value', 'is', 'world', 'of', 'number']

In [5]:
# Use the .append() method to join one additional string of your choice to `selected_elements`, and 
# print it again:
selected_elements.append("new value at the end")
selected_elements

['The new value', 'is', 'world', 'of', 'number', 'new value at the end']

In [6]:
# What happens if you try to .append() a list of values instead of a single value?
# Try to .append() a list of words to the selected_elements:
list_to_append = ["a", "b", 123]
selected_elements.append(list_to_append)

In [7]:
selected_elements

['The new value',
 'is',
 'world',
 'of',
 'number',
 'new value at the end',
 ['a', 'b', 123]]

In [8]:
# This is not what we want to do if we mean to concatenate lists!
# Use the correct operator to concatenate the `to concatenate` list to the `selected_elements` list:
to_concatenate = ["a", "b", "c"]

selected_elements.extend(to_concatenate)

In [9]:
selected_elements[7][1]

IndexError: string index out of range

#### 0.1.1 Dictionaries

In [4]:
# From the first three words of the word_list variable, create a dictionary with three entries.

# For each entry:
#   the keyword will be the word
#   the value will be the length of the string (calculate it with `len()`)

# (if you know them, you can use for loops)
first_word = word_list[0]

word_len_dict = {word_list[0]: len(word_list[0]),
                 word_list[1]: len(word_list[1]),
                 word_list[2]: len(word_list[2])}

# Alternative solution with loop:
word_len_dict = {word: len(word) for word in word_list}
word_list[0]

'The'

#### 0.1.2 Tuples

In [3]:
# Convert to a tuple the word list `word_list` defined above.
word_tuple = tuple(word_list)

# Can you change the first element of the tuple? Can you try appending new values? Can you use the +/* operators? 
word_tuple[0] = "new_word"  # try changing the values will result in a value error

TypeError: 'tuple' object does not support item assignment

#### 0.1.3 Sets

In [14]:
# We want to know if two lists of values contain the same items.

items_list1 = [20, 19, 32, 1, 3, 45, 2, 5, 4, 12, 7]
items_list2 = [45, 2, 12, 19, 32, 4, 7, 3, 5, 1, 20]

# Can we just check if the lists are the same with a `==` operation? If no, why?

items_list1 == items_list2

False

In [16]:
# Try then to compare them to set before performing the comparison:
set(items_list1) == set(items_list2)

True

In [5]:
# Use sets operations to find the a place that might fit the preferences of Mark, Melissa and Mattew:
mark_top_three = ["Putipù", "Pizzangolo", "Christian"]
melissa_top_three = ["Dogali", "Christian", "River"]
mattew_top_three = ["Christian", "Putipù", "Pizzangolo"]

# First, convert all the lists in sets:
mark_set = set(mark_top_three)
melissa_set = set(melissa_top_three)
mattew_set = set(mattew_top_three)

In [6]:
# Then, think about the correct set operation that will give you their overlapping choices:

common_mark_melissa = mark_set.intersection(melissa_set)
common_mark_mattew = mark_set.intersection(mattew_set)
common_mark_melissa.intersection(common_mark_mattew)

{'Christian'}